[Unit]
Description=Discord news bot
Documentation=https://github.com/Touhottaja/discord_bots/tree/main/news_bot

[Service]
EnvironmentFile=[<Path to this directory>]/.env
Type=simple
User=%i
WorkingDirectory=[<Path to this directory>]
ExecStart=[<Path to node>] [<Path to this directory>]/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target

